Repository JagjeevanAK/fuma-off: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, type-check

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

type-check:
  name: TypeScript Type Check
  entry: npm run types:check
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

docs: update OpenAPI specifications and documentation
  content/docs/(api)/v2/authentication/get-cgi-session.pl.mdx
  content/docs/(api)/v2/images/get-cgi-product_image_crop.pl.mdx
  content/docs/(api)/v2/images/get-cgi-product_image_upload.pl.mdx
  content/docs/(api)/v2/images/post-cgi-product_image_crop.pl.mdx
  content/docs/(api)/v2/images/post-cgi-product_image_unselect.pl.mdx
  content/docs/(api)/v2/nutrients/get-cgi-nutrients.pl.mdx
  content/docs/(api)/v2/ocr/get-cgi-ingredients.pl.mdx
  content/docs/(api)/v2/personal-search/get-attribute-groups.mdx
  content/docs/(api)/v2/personal-search/get-preferences.mdx
  content/docs/(api)/v2/products/get-product-by-barcode.mdx
  content/docs/(api)/v2/products/post-cgi-product_jqm2.pl.mdx
  content/docs/(api)/v2/search/get-search.mdx
  content/docs/(api)/v2/suggestions/get-cgi-suggest.pl.mdx
  content/docs/(api)/v3/images/delete-api-v3-product-barcode-images-uploaded-imgid.mdx
  content/docs/(api)/v3/images/post-api-v3-product-barcode-images.mdx
  content/docs/(api)/v3/knowledge-panels/get-api-v3-tag-tagtype-tag_or_tagid.mdx
  content/docs/(api)/v3/products/get-product-by-barcode.mdx
  content/docs/(api)/v3/products/patch-api-v3-product-barcode.mdx
  content/docs/(api)/v3/products/post-api-v3-product_revert.mdx
  content/docs/(api)/v3/taxonomy/get-api-v3-taxonomy_suggestions-taxonomy.mdx
  ref/api-v3.yaml
  ref/api.yaml
  specfiles-json/openapi-v3.json
  specfiles-json/openapi.json
Due: none

fix minior issues
  content/docs/(api)/robotoff/meta.json
  content/docs/(api)/v2/meta.json
  content/docs/(api)/v3/meta.json
Due: prettier

minor fix
  content/docs/(api)/folksonomy/meta.json
  content/docs/(api)/kPanel/meta.json
  content/docs/(api)/open-prices/meta.json
  content/docs/(api)/robotoff/meta.json
Due: prettier

fix minor errors
  content/docs/(api)/folksonomy/meta.json
  content/docs/(api)/kPanel/meta.json
  content/docs/(api)/open-prices/meta.json
  content/docs/(api)/robotoff/meta.json
  content/docs/(api)/v2/meta.json
  content/docs/(api)/v3/meta.json
Due: prettier

minor fix
  content/docs/(api)/folksonomy/authentication/meta.json
Due: prettier

docs: update OpenAPI specifications and documentation
  content/docs/(api)/robotoff/annotations/annotation/collection/get.mdx
  content/docs/(api)/robotoff/batch-job/batch/import/post.mdx
  content/docs/(api)/robotoff/dataset/products/dataset/get.mdx
  content/docs/(api)/robotoff/dataset/products/dataset/post.mdx
  content/docs/(api)/robotoff/image-predictions/image_predictions/import/post.mdx
  content/docs/(api)/robotoff/images/images/get.mdx
  content/docs/(api)/robotoff/images/images/predict/get.mdx
  content/docs/(api)/robotoff/logos/images/logos/annotate/post.mdx
  content/docs/(api)/robotoff/logos/images/logos/logo_id/get.mdx
  content/docs/(api)/robotoff/logos/images/logos/logo_id/put.mdx
  content/docs/(api)/robotoff/logos/images/logos/update/post.mdx
  content/docs/(api)/robotoff/predict/predict/ingredient_list/get.mdx
  content/docs/(api)/robotoff/system/health/get.mdx
  content/docs/(api)/robotoff/system/robots-txt/get.mdx
  content/docs/(api)/robotoff/system/status/get.mdx
  content/docs/(api)/robotoff/users/users/statistics/username/get.mdx
  specfiles-json/robotoff-openapi.json
Due: none

docs: update OpenAPI specifications and documentation
  content/docs/(api)/robotoff/annotations/annotation/collection/get.mdx
  content/docs/(api)/robotoff/dataset/products/dataset/get.mdx
  content/docs/(api)/robotoff/dataset/products/dataset/post.mdx
  content/docs/(api)/robotoff/image-predictions/image_predictions/import/post.mdx
  content/docs/(api)/robotoff/images/images/get.mdx
  content/docs/(api)/robotoff/images/images/predict/get.mdx
  content/docs/(api)/robotoff/logos/images/logos/annotate/post.mdx
  content/docs/(api)/robotoff/logos/images/logos/logo_id/get.mdx
  content/docs/(api)/robotoff/logos/images/logos/logo_id/put.mdx
  content/docs/(api)/robotoff/logos/images/logos/update/post.mdx
  content/docs/(api)/robotoff/predict/predict/ingredient_list/get.mdx
  content/docs/(api)/robotoff/system/health/get.mdx
  content/docs/(api)/robotoff/system/status/get.mdx
  content/docs/(api)/robotoff/users/users/statistics/username/get.mdx
  specfiles-json/robotoff-openapi.json
Due: none

upgraded node version
  .github/workflows/update-openapi-docs.yml
Due: none

docs: update OpenAPI specifications and documentation
  content/docs/(api)/robotoff/insight-management/getInsightDetails.mdx
  content/docs/(api)/robotoff/predict/predictLanguagePost.mdx
  content/docs/(api)/robotoff/system/robots-txt/get.mdx
  specfiles-json/robotoff-openapi.json
Due: none

build faild fix
  content/docs/(api)/Product-Opener/tutorial/API_TODO.mdx
  content/docs/(api)/Product-Opener/tutorial/aws-images-dataset.mdx
  content/docs/(api)/Product-Opener/tutorial/explain-knowledge-panels.mdx
  content/docs/(api)/Product-Opener/tutorial/get-the-nutriscore.mdx
  content/docs/(api)/Product-Opener/tutorial/how-to-download-images.mdx
  content/docs/(api)/Product-Opener/tutorial/index.mdx
  content/docs/(api)/Product-Opener/tutorial/leveraging-links-to-wikidata.mdx
  content/docs/(api)/Product-Opener/tutorial/ref-api-and-product-schema-change-log.mdx
  content/docs/(api)/Product-Opener/tutorial/ref-barcode-normalization.mdx
  content/docs/(api)/Product-Opener/tutorial/ref-cheatsheet.mdx
  content/docs/(api)/Product-Opener/tutorial/tutorial-off-api.mdx
  content/docs/(api)/Product-Opener/tutorial/tutorial-uploading-photo-to-a-product.mdx
  mdx-components.tsx
  package-lock.json
  package.json
Due: prettier, type-check

experiment
  content/docs/(api)/robotoff/meta.json
Due: prettier

docs: update OpenAPI specifications and documentation
  specfiles-json/open-prices-openapi.json
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss)$, but not: (?x)(
    package-lock\.json|
    \.next/|
    node_modules/|
    dist/|
    build/|
    coverage/|
    specfiles-json/.*\.json$
)

  type-check: any of: \.(ts|tsx)$
